* {
    font-family: inherit;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
}
main {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}
#copyright {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 10px;
    width: 320px;
    height: 320px;
}
.cell {
    background-color: rgb(147, 188, 147);
    border-radius: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    align-content: center;
    font-size: 64px;
    /* font-family: sans-serif; */
}